body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #07548e;
}

canvas {
    position: relative;
    border: 2px solid #07548e;
    background: url("../images/background.png") no-repeat center;
    background-size: cover;
}
#saveScoreContainer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}


#saveScoreBtn {
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Papyrus", "Times New Roman", serif;
    background-color: #337295;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 10px;
}

#confirmSaveBtn {
    padding: 10px 16px;
    font-size: 16px;
    font-family: "Papyrus", "Times New Roman", serif;
    background-color: #337295;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#saveScoreBtn:hover,
#confirmSaveBtn:hover {
    background-color: #555;
}

#nameInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 0;
}

#playerName {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 120px;
}

#playAgainBtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Papyrus", "Times New Roman", serif;
    background-color: #337295;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    /* altijd tonen */
    z-index: 12;
}

#playAgainBtn:hover {
    background-color: #555;
}
